<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title ? title : 'Culinary Delights' %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body
    class="bg-base-100 text-base-content font-sans min-h-screen flex flex-col"
  >
    <div class="navbar bg-base-100 shadow-sm p-4">
      <div class="flex-1">
        <a
          class="text-2xl md:text-3xl font-bold normal-case text-primary"
          href="/"
          >Culinary Delights</a
        >
      </div>
      <div class="flex-none"></div>
    </div>

    <main class="flex-grow">